<!DOCTYPE html>
<html lang="en">
<!-- Head Partial -->
<%- include('../partials/head/head.ejs', { page: "Sign Up" }) %>

    <body>
        <!-- Navbar Partial -->
        <%- include ('../partials/navbar/navbar.ejs') %>

            <h1>Sign Up Page</h1>
            <div class="container justify-content-center">
                <form action="/signup" method="POST"
                class="needs-validation" novalidate>
                    <div class="col-md-4">
                        <label for="validationCustomUsername" class="form-label">Username</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                            <input type="text" class="form-control" 
                            name="username"
                            id="validationCustomUsername"
                                aria-describedby="inputGroupPrepend" placeholder="ExampleUser" required autofocus>
                            <div class="invalid-feedback">
                                Please choose a username.
                            </div>
                            <div class="valid-feedback">
                                Username is valid!
                            </div>
                        </div>
                    </div>
                    
                    <br>

                    <div class="col-md-4">
                        <label for="validationEmail" class="form-label">Email</label>
                        <input type="email" name="email"
                        class="form-control" id="validationEmail" placeholder="Please provide a valid email." required>
                        <div class="invalid-feedback">
                            Please provide a valid email.
                        </div>
                        <div class="valid-feedback">
                            Email is valid!
                        </div>
                    </div>
                    
                    <br>

                    <div class="col-md-4">
                        <label for="validationPassword" class="form-label">Password</label>
                        <input type="password" name="password"
                        class="form-control" id="validationPassword" placeholder="Please enter a valid password." required>
                        <div class="invalid-feedback">
                            Please make sure your password is between 8-20 characters long.
                        </div>
                        <div class="valid-feedback">
                            Password is valid!
                        </div>
                    </div>
                    
                    <br>

                    <div class="col-md-4">
                        <label for="validationProfilePicture" class="form-label">Profile Picture</label>
                        <input type="text" name="avatar"
                        class="form-control" id="validationProfilePicture" placeholder="https://" required>
                        <div class="invalid-feedback">
                            Please provide a profile picture.
                        </div>
                        <div class="valid-feedback">
                            Profile picture is valid!
                        </div>
                    </div>
                    
                    <br>

                    <div class="col-md-4">
                        <label for="validationBio" class="form-label">Bio</label>
                        <input type="text" name="bio"
                        class="form-control" id="validationBio" placeholder="Describe yourself!" required>
                        <div class="invalid-feedback">
                            Please provide a user bio. 
                        </div>
                        <div class="valid-feedback">
                            Bio is valid!
                        </div>
                    </div>
                    
                    <br>

                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
    </body>

</html>