<!DOCTYPE html>
<html lang="en">
<!-- Head Partial -->
<%- include('../partials/head/head.ejs', { page: "Sign Up" }) %>

    <body>
        <!-- Navbar Partial -->
        <%- include ('../partials/navbar/navbar.ejs') %><!-- Particle.js -->
        <div id="particles-js"></div>
            <div class="modal-show p-5" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content" id="signup-modal-content">
                        <div class="modal-header d-flex justify-content-center" id="signupHeader">
                            <h5 class="modal-title display-6" id="signupModalLabel">
                                Create A User Account!
                            </h5>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="d-flex justify-content-center">
                                    <% if (error) { %>
                                        <div class="alert alert-danger" role="alert">
                                            <p>
                                                <%= error %>
                                            </p>
                                        </div>
                                        <% } %>
                                </div>
                                <form action="/signup" method="POST" class="was-validated  m-3" novalidate>
                                    <div>
                                        <label for="validationCustomUsername" class="form-label">Username</label>
                                        <div class="input-group has-validation">
                                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                                            <input type="text" class="form-control" name="username"
                                                id="validationCustomUsername" aria-describedby="inputGroupPrepend"
                                                placeholder="ExampleUser" required autofocus>
                                            <div class="invalid-feedback">
                                                Please choose a username.
                                            </div>
                                            <div class="valid-feedback">
                                                Username is valid!
                                            </div>
                                        </div>
                                    </div>

                                    <br>

                                    <div>
                                        <label for="validationEmail" class="form-label">Email</label>
                                        <input type="email" name="email" class="form-control" id="validationEmail"
                                            placeholder="Please provide a valid email." required>
                                        <div class="invalid-feedback">
                                            Please provide a valid email.
                                        </div>
                                        <div class="valid-feedback">
                                            Email is valid!
                                        </div>
                                    </div>

                                    <br>

                                    <div>
                                        <label for="validationPassword" class="form-label">Password</label>
                                        <input type="password" name="password" class="form-control"
                                            id="validationPassword" placeholder="Please enter a valid password."
                                            minlength="8" maxlength="20" required>
                                        <div class="invalid-feedback">
                                            Please make sure your password is between 8-20 characters long.
                                        </div>
                                        <div class="valid-feedback">
                                            Password is valid!
                                        </div>
                                    </div>

                                    <br>

                                    <div>
                                        <label for="validationProfilePicture" class="form-label">Profile
                                            Picture</label>
                                        <input type="text" name="avatar" class="form-control"
                                            id="validationProfilePicture" placeholder="https://" required>
                                        <div class="invalid-feedback">
                                            Please provide a profile picture.
                                        </div>
                                        <div class="valid-feedback">
                                            Profile picture is valid!
                                        </div>
                                    </div>

                                    <br>

                                    <div>
                                        <label for="validationBio" class="form-label">Bio</label>
                                        <textarea name="bio" class="form-control" id="validationBio"
                                            style="height: 180px; resize: none;" placeholder="Describe yourself!"
                                            required></textarea>
                                        <div class="invalid-feedback">
                                            Please provide a user bio.
                                        </div>
                                        <div class="valid-feedback">
                                            Bio is valid!
                                        </div>
                                    </div>

                                    <br>

                                    <div class="modal-footer d-flex justify-content-center">
                                        <button class="btn btn-secondary" type="submit"
                                            id="signup-btn-submit">Submit</button>
                                    </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    <!-- Particle.js -->
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src="/scripts/particles.js"></script>
    </body>
</html>