<!DOCTYPE html>
<html lang="en">
    <!-- Head Partial -->
    <%- include('../partials/head/head.ejs', { page: "Do's & Don'ts" }) %>

<body>
    <!-- Navbar Partial -->
    <%- include ('../partials/navbar/navbar.ejs') %>
    
    <h1>Do's & Don'ts Page</h1>
</body>
</html>