<!DOCTYPE html>
<html lang="en">
    <!-- Head Partial -->
    <%- include('../partials/head/head.ejs', { page: '404' }) %>

<body>
    <!-- Navbar Partial -->
    <%- include ('../partials/navbar/navbar.ejs') %>
    <h1>404 Page</h1>
    <% if (error) { %>
        <p>
            <%= error.message %>
        </p>
    <% } %>
</body>
</html>