<!DOCTYPE html>
<html lang="en">
    <!-- Head Partial -->
    <%- include('../partials/head/head.ejs', { page: '404' }) %>

<body>
    <!-- Navbar Partial -->
    <%- include ('../partials/navbar/navbar.ejs') %>
    <div class="container" id="error-container">
        <div class="centered">
            404 Page Baka!
        </div>

        <div class="card" id="error-card">
            <img src="https://i.gifer.com/GaJ3.gif" class="card-img-top" alt="404">
            <div class="card-body" id="error-body">
                <% if (error) { %>
                    <p>
                        <%= error.message %>
                    </p>
                    <% } %>
            </div>
        </div>
    </div>
</body>
</html>