<!DOCTYPE html>
<html lang="en">
<!-- Head Partial -->
<%- include('../partials/head/head.ejs', { page: "About Me" }) %>

    <body>
        <!-- Navbar Partial -->
        <%- include ('../partials/navbar/navbar.ejs') %>
        <div class="container d-flex justify-content-center p-5">
            <div class="card p-3" style="max-width: 1000px;" id="about-card">
                <div class="row g-0">
                    <div class="col-md-6">
                        <img src="/assets/IMG_8755.JPG" class="card-img-top img-thumbnail border-2 border-dark" alt="about-pic">
                    </div>
                    <div class="col-md-6 p-5">
                        <div class="card-body">
                            <h5 class="card-title display-5" id="about-title">
                                Hello World, My name is Jon Ver!
                            </h5>
                            <br>
                            <p class="card-text" id="about-text">
                                    I’m a Software Engineer with a background in the retail sector. Through this experience, I have created a strong foundation in communication, strategic thinking, and problem solving. I am highly devoted and passionate about CSS. I specialize in NEM stack (Node.js, Express.js, MongoDB) to create web applications with use of RESTFUL routing and full CRUD. I hope that you find Journey Japan useful and informative! Please always remember that it is not always about the destination but the journey you took to get there!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </body>
</html>