<!DOCTYPE html>
<html lang="en">

<!-- Head Partial -->
<%- include('../partials/head/head.ejs', { page: 'Home' }) %>

<body>
    <!-- Navbar Partial -->
    <%- include ('../partials/navbar/navbar.ejs') %> 

</body>
</html>