<!DOCTYPE html>
<html lang="en">
    <!-- Head Partial -->
    <%- include('../partials/head/head.ejs', { page: 'Home' }) %>

<body>
    <!-- Navbar Partial -->
    <%- include ('../partials/navbar/navbar.ejs') %>
    <main>
        <div id="carouselCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="4"
                    aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="5"
                    aria-label="Slide 6"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://images.unsplash.com/photo-1593839154339-377e24b3ba32?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1558&q=80" class="d-block w-100" alt="tokyo" />
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Tokyo, Japan</h3>
                        <p>Greeted by the beautiful Mt. Fuji and the Tokyo Tower glowing in the distant.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://images.unsplash.com/photo-1493976040374-85c8e12f0c0e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" class="d-block w-100" alt="kyoto" />
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Kyoto, Japan</h3>
                        <p>Wake up early and beat the crowd to the Hokanji Temple to enjoy the sunrise at the most photographed alley in all of Japan.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://img5.goodfon.com/wallpaper/nbig/1/16/japon-castillo-de-osaka-osaka-iaponiia-zamok.jpg" class="d-block w-100" alt="osaka" />
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Osaka, Japan</h3>
                        <p>There are castles around the world and then there is Osaka Castle.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://images.unsplash.com/photo-1480796927426-f609979314bd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" class="d-block w-100" alt="japan" />
                </div>
                <div class="carousel-item">
                    <img src="https://images.unsplash.com/photo-1542640244-7e672d6cef4e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" class="d-block w-100" alt="japan" />
                </div>
                <div class="carousel-item">
                    <img src="https://images.unsplash.com/photo-1604947498105-0ed418039700?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80" class="d-block w-100" alt="japan" />
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </main>
    <section>
        <div class="container my-3">
            <div class="card">
                <div class="card-body" id="journey-japan-text">
                    Journey Japan is a web application that will captivate those who are traveling, planning, or thinking of going to Japan. Japan is easily one of the world's most visited country and there seems to be a stigma around the cost of actually going to Japan. The goal for Journey Japan is cultivate real user reviews on the top attractions and places to eat for each of the top cities in Japan. Think of it as a mixture of Tripadvisor and Yelp where users will be able to create an account and post their real reviews. There is also a section that will provide meaningful do's and don'ts for travelers so they can save money where they can and just make their overall experience in Japan one they will never forget!
                </div>
            </div>
        </div>
    </section>

    <!-- Footer Partial -->
    <%- include ('../partials/footer/footer.ejs') %>
</body>
</html>