@use "../_variables/" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // border: 1px solid red;
}

// === COLORS === 
// $primary-color: #e63946; // Imperial Red
// $alt-color: #F1FAEE; // Honeydew
// $secondary-color: #A8DADC; // Power Blue
// $third-color: #457B9D; // Celadon Blue
// $fourth-color: #1D3557; // Prussian Blue


body {
    font-family: 'Cutive Mono', monospace, sans-serif;
    background-image: url('/assets/sakura.png');
    // background-color: $alt-color;

    // NOTE: == NAV == 
    nav {
        font-size: 20px;
        z-index: 999999;
    }

    .navbar {
        background-image: url('/assets/sakura.png');
        height: 70px;
    }
    
    #navbar-bar {
        border-bottom: 5px solid $primary-color;
        background-image: url('/assets/sakura.png');
    }

    .navbar-nav a {
        color: $primary-color !important;
        font-weight: bolder;
    }

    .navbar-nav a:hover {
        color: $secondary-color !important;
    }

    #journeyjapan-title {
        font-size: 45px;
        color: $primary-color;
    }

    #journeyjapan-title:hover {
        color: $secondary-color !important;
    }

    // NOTE: == Landing Page ==
    .carousel img {
        height: 80vh;
    }

    .carousel-caption {
        background-color: black;
        opacity: 70%;
        padding: 10px;
    }

    // NOTE: == 404 Page == 
    #error-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
    }
    
    #error-card {
        height: 800px;
        width: 800px;
    }

    .centered {
        z-index: 100;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 70px;
        font-weight: bolder;
        color: white;
        background-color: black;
        opacity: 75%;
    }

    // NOTE: == City Show ==
    #city-card {
        height: auto;
        width: 900px;
        border-radius: 5px;
        border: 2px solid black; 
        background-color: $alt-color;
    }

    #city-title {
        font-size: 80px;
        text-decoration: underline;
    }

    #city-image {
        height: 850px;
        width: 850px;
    }

    #city-show {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 200px;
    }

    #city-description {
        font-size: 25px;
    }

    // NOTE: == City Todo == 

    #city-todos {
        gap: 200px;
    }

    #todo-image-show {
        height: 500px;
        width: 600px;
    }

    #todo-link {
        text-decoration: none;
        color: inherit;
    }

    #todo-card {
        height: 730px;
        width: 630px;
        border-radius: 5px;
        border: 2px solid black;
        transition: 0.3s !important;
        background-color: $alt-color;
    }

    #todo-card:hover {
        transform: scale(1.1);
    }
}
