@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cutive Mono", monospace, sans-serif;
  background-image: url("/assets/sakura.png");
}
body #btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
body nav {
  font-size: 20px;
  z-index: 999999;
}
body .navbar {
  background-image: url("/assets/sakura.png");
  height: 70px;
  align-items: baseline;
}
body #navbar-bar {
  border-bottom: 5px solid #e63946;
  background-image: url("/assets/sakura.png");
}
body .navbar-nav a {
  color: #e63946 !important;
  font-weight: bolder;
}
body .navbar-nav a:hover {
  color: #A8DADC !important;
  text-shadow: 2px 2px 2px #A8DADC;
}
body #journeyjapan-title {
  font-size: 40px;
  color: #e63946;
}
body #journeyjapan-title:hover {
  color: #A8DADC !important;
  text-shadow: 2px 2px 2px #A8DADC;
}
body #journey-japan-text {
  border: 2px solid black;
}
body .carousel img {
  height: 78vh;
}
body .carousel-caption {
  background-color: black;
  opacity: 70%;
  padding: 10px;
}
body #error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
body #error-card {
  height: 800px;
  width: 800px;
}
body #error-body {
  font-weight: bolder;
  color: white;
  background-color: black;
  opacity: 75%;
  font-size: 30px;
}
body .centered {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  font-weight: bolder;
  color: white;
  background-color: black;
  opacity: 75%;
}
body #city-card {
  height: auto;
  width: 800px;
  border-radius: 5px;
  border: 2px solid black;
}
body #city-title {
  font-size: 80px;
  text-decoration: underline;
}
body #city-image {
  height: 850px;
  width: 850px;
  border-radius: 5px;
}
body #city-show {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
body #city-description {
  font-size: 25px;
}
body #todo-title {
  text-decoration: underline;
}
body #todo-user-date {
  font-size: 18px;
}
body #todo-rating input {
  width: 60px;
  text-align: center;
}
body #todo-user-content {
  font-size: 20px;
}
body #todo-review-card {
  border: 1px solid black;
}
body #todo-review-user-img {
  border: 1px solid black;
}
body #city-todos {
  gap: 250px;
}
body #todo-food {
  display: flex;
  justify-content: center;
}
body #todo-attraction {
  display: flex;
  justify-content: center;
}
body #todo-image-show {
  height: 500px;
  width: 600px;
  border-radius: 5px;
}
body #todo-link {
  text-decoration: none;
  color: inherit;
}
body #todo-card {
  height: 730px;
  width: 630px;
  border-radius: 5px;
  border: 2px solid black;
  transition: 0.3s !important;
}
body #todo-card:hover {
  transform: scale(1.1);
}
body #review-edit-delete {
  gap: 10px;
}
body #todo-add-btn-svg {
  fill: #e63946;
  transition: 0.3s;
  border-radius: 0 !important;
  background-color: transparent;
}
body #todo-add-btn-svg:hover {
  fill: #A8DADC;
  transform: scale(1.3);
}
body #todo-add-btn:focus {
  outline: 0;
  box-shadow: none;
}
body #todo-btn-edit {
  border: none;
  transition: 0.3s;
  border: 1px solid black;
}
body #todo-btn-edit:hover {
  transform: scale(1.3);
  background-color: #A8DADC;
}
body #todo-btn-edit:focus {
  outline: 0;
  box-shadow: none;
}
body #todo-btn-delete {
  border: none;
  transition: 0.3s;
  border: 1px solid black;
}
body #todo-btn-delete:hover {
  transform: scale(1.3);
  background-color: #e63946;
}
body #todo-btn-delete:focus {
  outline: 0;
  box-shadow: none;
}
body #todo-review-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
body #todo-review-footer button:hover {
  background-color: #e63946;
}
body #allReviewHeader {
  background-color: #457B9D;
  color: white;
}
body #reviewModalHeader {
  background-color: #e63946;
  color: white;
}
body #todo-review-post-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
body #todo-review-post-footer button:hover {
  background-color: #457B9D;
}
body #todo-review-post input {
  width: 60px;
  text-align: center;
}
body #deleteModalLabel {
  background-color: #e63946;
  color: white;
}
body #todo-delete-confirm:hover {
  background-color: #e63946;
}
body #deleteModalLabel h5 {
  font-size: 18px;
}
body #todo-show-card {
  border: 1px solid black;
}
body #todo-user-review-link {
  color: #457B9D;
  text-decoration: none;
  transition: 0.3s;
}
body #todo-user-review-link:hover {
  font-size: 20px;
  color: #e63946;
}
body #todo-show-title {
  font-size: 50px;
  text-decoration: underline;
}
body #footer {
  gap: 15px;
  font-size: 18px;
  display: flex;
  align-items: baseline;
}
body #footer-icon {
  color: #e63946;
  transition: 0.3s;
}
body #footer-icon:hover {
  color: #A8DADC;
  transform: scale(1.3);
}
body #user-reviews-link {
  text-decoration: none;
  color: inherit;
}
body #user-reviews-all {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #user-reviews {
  transition: 0.3s;
  border-radius: 5px;
  border: 3px solid #e63946;
  width: 700px;
  font-size: 18px;
}
body #user-reviews:hover {
  border: 3px solid #A8DADC;
  box-shadow: 5px 5px 3px 2px #e63946;
}
body #user-reviews-title {
  text-decoration: underline;
  font-size: 18px;
}
body #user-create-at {
  font-size: 13px;
}
body #user-card {
  display: flex;
  align-items: center;
  height: max-content;
  border-radius: 5px;
  border: 3px solid #e63946;
  transition: 0.3s;
}
body #user-card:hover {
  border: 3px solid #A8DADC;
  box-shadow: 5px 5px 3px 2px #e63946;
}
body #user-card:hover h5 {
  text-decoration: underline;
}
body .user-card-title {
  font-size: 30px;
}
body #user-card-text {
  font-size: 18px;
}
body #user-card img {
  border-radius: 5px;
}
body #user-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
body #profile-button {
  border: none;
}
body #profile-edit-text {
  display: none;
  padding: 5px;
  font-size: 25px;
  background-color: black;
  opacity: 75%;
}
body #profile-footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
body #user-card:hover span {
  display: flex;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border-radius: 5px;
}
body #userProfileModal-header {
  background-color: #e63946;
  border-bottom: 2px solid black;
  color: white;
}
body #userProfile {
  border: 2px solid black;
}
body .btn-dark:hover {
  background-color: #457B9D;
}

/*# sourceMappingURL=main.css.map */
